/project/target/streams/$global/ivyConfiguration/$global/streams/out
/.ensime_lucene/_0.fdt
/.ensime_lucene/_0.frq
/.ensime_lucene/_0.nrm
/.ensime_lucene/_0.prx
/.ensime_lucene/_0.tii
/.ensime_lucene/_0.tis
/.ensime_lucene/_0_1.del
/.ensime_lucene/segments_1
/project/target/streams/$global/update/$global/streams/inputs
/project/target/streams/$global/update/$global/streams/out
/project/target/streams/$global/update/$global/streams/output
/project/target/streams/compile/compile/$global/streams/out
/project/target/streams/compile/copyResources/$global/streams/out
/project/target/streams/compile/exportedProducts/$global/streams/export
/project/target/streams/runtime/dependencyClasspath/$global/streams/export
/project/target/streams/runtime/exportedProducts/$global/streams/export
/project/target/streams/runtime/fullClasspath/$global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/$global/streams/export
